/*partie header*/

/*partie home*/

/*partie about me*/

/*partie projet*/

/*partie contact*/
h6{
    text-align: center;
    color: white;
    background-color: #9F9D9A;
    height: 22px;
    font-size: 16px;
}
p{
    text-align: center;
    color: white;
    background-color: #9F9D9A; 
    height: 22px; 
    font-size: 16px;
}
.formulaire input {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #9F9D9A;
    color: white;
    
}
form{
    width: 10%;
    margin: 0 auto;
    padding-top: 50px;
    
}
.btn {
    display: block;
    margin: 150px auto 0;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    padding: 25px 80px;
    background: black;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px ;
    position: relative;
    box-shadow: 0 6px #333;
}
.btn:hover {
    box-shadow:0 6px #333;
    top: 2px;
}
.btn:active {
    box-shadow: 0 0 #333;
    top: 6px;
}
/*partie footer*/