body {
    font-family: 'Raleway', sans-serif;
    background-color: white;
    margin: 0;
}

/*partie header*/
/*conteneur de l ensemble du head*/
.containerheader {
    background-color: #d3c0d3;
    display:flex; 
    align-items: center;
    position: fixed;
    left: 0;
    right: 0; 
    z-index: 2;
}
.headerNormal {
    display: flex;
    background-color:  #d3c0d3;
    color: #FFFBFF;
    width: 100%;
}

/*nom de l utilisateur du portfolio*/
.nameSignature{ 
    display:flex; 
    justify-content: flex-start;
    width: 25%;
    background-color: none ;
    padding-left: 5%;
       
}
.signedJohn {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    color: #FFFBFF;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
/*navigation descktop */
#burger {
    display: flex;
    width: 75%;
    align-items: center;
}

ul .btnNav {
    display: inline;
    margin: 0 15px;
    
}
.btnUl{
    display: flex;
    justify-content: space-between;
    width: 92%;
    }

nav a {
    color: #FFFBFF;
    font-size: 20px;
    text-decoration: none;
}

/*Navigation mobileFirst*/

.navBurger {
    overflow: hidden;
    background-color:  #d3c0d3;
    position: relative;

}

.navBurger #myLinks {
    display: none;
}

.navBurger a {
    color: #FFFBFF;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
.navBurger .active{
    font-size: 40px;
}

/*fonctionnalité burger à partir de l icon*/

.navBurger a.icon {
    background: #d3c0d3;
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.navBurger a:hover {
    background-color:#FFFBFF;
    color:  #d3c0d3;
}

.active {
    font-family: 'Dancing Script', cursive;
    background-color:  #d3c0d3;
    color:#FFFBFF;
}

@media (min-width: 375px) and (max-width: 767px){
    .headerNormal {
        display: none;
    }
    .navBurger{
        display: block;
        width: 100%;
        text-align: center;
        
    }
    nav a {
        color: #FFFBFF;
        font-size: 12px;
        text-decoration: none;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .navBurger{
        display: none;
    }
}

/*partie home*/

.home_page {
    background-color: white;
    padding-bottom: 5%;
}

.home_content {
    display: flex;
    justify-content: space-between;
}

.home_sidebar {
    position: fixed;
    margin-top: 20%;
}

.home_sidebar ul {
    padding-left: 5px;
}

.home_sidebar ul li {
    list-style: none;
    padding-top: 0px;
    padding-bottom: 5px;
}

.home_sidebar img {
    width: 22px;
}

.home_sidebar p {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: black;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    margin: 0;
}

.home_main_img_title {
    display: flex;
}

.home_img_title {
    position: relative;
    margin-left: 35px;  
    margin-right: 0px;
    padding-top: 120px;
}

.home_img img{
    max-width: 100%;
}

.home_title {
    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 17%;
    color: #d3c0d3;
    
}

.home_title h1 {
    font-size: 105px;
    letter-spacing: 1px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 0;
}

.home_title h2 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.2rem;
}

@keyframes fade-in {
	0% { opacity:0; font-size:0; margin-left:100px; }
  100% { opacity:1; font-size: 300%; margin-left: 0 }
}


@media screen and (min-width: 1070px) and (max-width: 1360px) {
    .home_title h1 {
        font-size: 70px;
    }
    
    .home_title h2 {
        font-size: 30px;
    }

    .home_title {
        top: 23%;
    }
}

@media screen and (min-width: 970px) and (max-width: 1069px) {
    .home_title h1 {
        font-size: 60px;
    }
    
    .home_title h2 {
        font-size: 25px;
    }

    .home_title {
        top: 25%;
    }
}

@media screen and (min-width: 750px) and (max-width: 969px) {
    .home_title h1 {
        font-size: 50px;
    }
    
    .home_title h2 {
        font-size: 18px;
    }

    .home_title {
        top: 28%;
    }
}

@media screen and (min-width: 510px) and (max-width: 749px) {
    .home_title h1 {
        font-size: 40px;
    }
    
    .home_title h2 {
        font-size: 12px;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.1rem;
    }

    .home_title {
        top: 33%;
    }
}

@media screen and (min-width: 320px) and (max-width: 509px) {
    .home_title h1 {
        font-size: 28px;
    }
    
    .home_title h2 {
        font-size: 7px;
        text-underline-offset: 0.5rem;
        text-decoration-thickness: 0.1rem;
    }

    .home_title {
        top: 41%;
    }
}

.scroll_up {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 50px;
    right: 25px;
}

.scroll_up img {
    width: 30px;
}

/*partie about me*/

@media screen and (max-width:640px) {
    .containerAboutMe {
    display:flex ;
    flex-direction: column;
    justify-content: space-around;
    }
    .paragraphAboutMe{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       
    }
}
 
.aboutMe{
    background-color: #FFFBFF;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #9F9D9A;
    padding-bottom: 5%;
}
.animate-text {
    justify-content: center;
    display:flex;
    flex-direction: row;
    font-size: 35px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: lightgray;
    margin-top: 0;
    padding-top: 90px;
    letter-spacing: 8px;
}
    @keyframes fade-in {
        0% { opacity:0; font-size:0; margin-left:100px; }
      100% { opacity:1; font-size:150%; transform:rotate(360deg); margin-left:375; }
    }
  

.containerAboutMe {
    display: flex; 
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 25px;

   }
  
   
   .imageAboutMe{
     height: auto;
     width: auto;
     border-radius: 2%;
     box-shadow: 2px 2px 0px;
   }

   .paragraphAboutMe {
    max-width: 90%;
    text-align: justify;
    padding: 5% 5% 5% 5%;
     
   }

   #monlienhref{
       font-size: 25px;
       text-decoration: none;
       font-family:'Dancing Script', cursive;
       font-weight: bold;
       color: #d3c0d3;
    
      
   }

/*partie projet*/

@media screen and (max-width: 640px) {
    .project {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .textDescriptionProject {
        display: none;
    }
    /* The Modal1 (background) */
    .modal1 {
        display: none; 
        position: center; 
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: #FFFBFF;
        background-color: #fffbff9d; 
        }

/* Modal1 Content/Box */
    .modal1-content {
        background-color: #d3c0d3;
        margin: 10px auto;
        padding: 15px;
        width: 80%;
        border-radius: 2%;
    }
/* The Close Button 1*/
    .close1 {
        color: #aaa;
        float: inline-end;
        font-size: 28px;
        font-weight: bold;
    }

    .close1:hover,
    .close1:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* The Modal2 (background)*/
    .modal2 {
        display: none; 
        position: center; 
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: #FFFBFF;
        background-color: #fffbff9d; 
        }

    
    .modal2-content {
        background-color: #d3c0d3;
        margin: 10px auto;
        padding: 15px;
        width: 80%;
        border-radius: 2%;    
    }

    .close2 {
        color: #aaa;
        float: inline-end;
        font-size: 28px;
        font-weight: bold;
    }

    .close2:hover,
    .close2:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    
    .modal3 {
        display: none; 
        position: center; 
        z-index: 1; 
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: #FFFBFF;
        background-color: #fffbff9d; 
    }

    
    .modal3-content {
        background-color: #d3c0d3;
        margin: 10px auto;
        padding: 15px;
        width: 80%;
        border-radius: 2%; 
    }

    .close3 {
        color: #aaa;
        float: inline-end;
        font-size: 28px;
        font-weight: bold;
    }

    .close3:hover,
    .close3:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

@media screen and (min-width: 640px) {
    .modal1-content { 
        display: none;
    }

    .modal2-content {
        display: none;
    }
    .modal3-content {
        display: none;
    }
}

.backgroundProject {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #9F9D9A;
    background-color: #f8f1f8;
    padding-bottom: 5%;
    text-align: justify;
}

.imgProject {
    max-width: 90%;
    box-shadow: 2px 2px 0px #9F9D9A;
    border-radius: 2%;
}
.textDescriptionProject {
    max-width: 90%;
    
}
.project{
    display: flex ;
    flex:auto;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 25px;
    height: 90%;
}
.underProject{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;  

}



/*partie contact*/
    
.all_contact {
    background-color: #FFFBFF;
    padding-bottom: 0;
}

.Merci{
    text-align: center;
    color: #9F9D9A;
    height: 22px;
    font-size: 20px;
    margin-top: 50px;
}

.formulaire {
    color: #9F9D9A;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.formulaire label {
    text-align: center;
    font-size: 20px;
}

.formulaire .enterFormulaire {
    padding: 10px;
    background-color: #f8f1f8;
    color: #9F9D9A;
    text-align: left;
    border: none;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 15px;
}


.texteClient{
    height: 160px;
    padding-right: 95px;
    size: 16px;
    background-color: #f8f1f8;
    color: #9F9D9A;
    border: none;
}

.btnContact {
    display: block;
    margin: 20px auto 0;
    font-size: 30px;
    font-weight: lighter;
    color: white;
    padding: 20px 60px;
    background: #d3c0d3;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px rgba(51, 51, 51, 0.521);
    font-family: 'Dancing Script', cursive;
    letter-spacing: 2px;
}

.sectionSubmit { 
    margin: 10px 0px 10px;
}
.btnContact:hover {
    box-shadow:0 6px #333;
    top: 2px;
}
.btnContact:active {
    box-shadow: 0 0 #333;
    top: 6px;
}

.php {
    color: red;
}

/*partie footer*/

.containerFooter{
    height: 70px;
    display: flex;
    width: 100%;
    background-color:#d3c0d3;
    text-align: center;
}

.footerGround {
    width: 100%;
}

.containerFoot{
    color: #FFFBFF;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;    
}

    
    

